<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
	  <Appender> type="console" name="STDOUT">
     <Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
     </Appender>
     
     <Appender type="File" name="file" filename="./ExtentReport/test-output/app.log4j"> 
		 <Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		 	 
	 </Appender>
  </Appenders>
  <Loggers>
    <Root level="ERROR">
      <AppenderRef ref="file"/>
    </Root>
  </Loggers>
</Configuration>